---
import Layout from '../layouts/Default.astro';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(b, a) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Layout
	title="Error 404"
	description="Page not Found"
	pubDate={new Date('August 08 2021')}
	updatedDate={new Date('August 08 2022')}
	heroImage="/placeholder-about.jpg"
>
	<section class="container">
		<div class="about">
			<div>404</div>
			<p>Page not found...</p>
		</div>
	</section>
</Layout>

<style>
	.about {
		margin: 10rem auto;
		text-align: center;
	}

	.about > div {
		font-size: 4rem;
	}
</style>
