<footer id="site-footer" class="site-footer" role="contentinfo">
	<span>
		Copyright © MOCO, 2023.<br />
		Static website built with <a href="https://nuxtjs.org/" target="_blank"
			>Nuxt</a
		>. Style based on <a
			href="https://www.competethemes.com/founder/"
			target="_blank">Founder WordPress Theme</a
		>.
	</span>
</footer>

<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
